{
    "UNIVERSE": {
        "path": "/home/zbx/code/backtest/backtest/xsz_universe.csv",
        "eqcache_path": "/home/zbx/market_data/"
    },
    "STRATEGY": {
        "STRATEGY_NAME": "XSZ_strategy",
        "XSZ_strategy": {
            "use_parameter_optimization": true,
            "select_strategy": {
                "st_strategy": {
                    "exclude": true
                },
                "cyb_strategy": {
                    "exclude": false
                },
                "kcb_strategy": {
                    "exclude": false
                },
                "xsz_strategy": {},
                "zb_strategy": {
                    "exclude": false
                },
                "bse_strategy": {
                    "exclude": false
                }
            },
            "sort_strategy": {
                "total_mv_strategy": {
                    "weight": 1,
                    "corr": false
                }
            },
            "trade_strategy": {
                "start_time": "20070101",
                "end_time": "20251231",
                "holding_period": 5,
                "rebalancing_week": 0,
                "rebalancing_point": "close",
                "max_stock_num": 10,
                "max_one_stock_position": 100,
                "position_weight": "equal"
            },
            "parameter_optimization": {
                "select_strategy": {},
                "sort_strategy": {},
                "trade_strategy": {
                    "holding_period": {
                        "min": 1,
                        "max": 5,
                        "step": 1
                    },
                    "max_stock_num": {
                        "min": 5,
                        "max": 20,
                        "step": 5
                    }
                }
            }
        }
    }
}
